/* Root */
:root {
    --colorOne: #675755e8;
} 
  
* {
  margin: 0;
  padding: 0;
}

.application {
  background-color: rgb(180, 154, 154);
}

/* Header */


/* Footer */
Footer {
    background-color: var(--colorOne);
  }
  
  .footer .footer-instructions, .footer .footer-section-links,
  .footer .footer-instructions a {
    text-align: center;
    text-decoration: none;
  }
  
  .footer .icon {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer #github-icon{
    color: black;
  }
  
  .footer #linkedin-icon{
    color: blue;
  }

  /* Navbar  =========================================== */
  .navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
  }

  /* Homepage */
  .homepage .homepage-ty {
    height: 300px;
    width: 200px;
    border: solid black 2px;
  }

  /* Skills ================================== */
  

  /* Work Experience ================================== */
  .work .work-pic {
    height: 200px;
    width: 200px;
  }
  .work .work-div {
    margin: 20px;
    justify-content: center;
  }

  .work .work-div div {
    display: inline-block;
  }

  .work .work-div h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .work .work-div p {
    background-color: gray;
  }

  .work #work-michigan {
    background: linear-gradient(to bottom, #00274C, #FFCB05);
  }

  .work #work-miami {
     background: linear-gradient(to bottom, white, teal);
  }

  .work #work-louisville {
    background: linear-gradient(to bottom, red, white);
  }

